# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js dependencies and builds
node_modules
dist
dist-ssr
*.local

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
.eggs/
pip-wheel-metadata/
build/
htmlcov/
.tox/
coverage.*
.cache
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# VSCode and editors
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
